version: '3.8'

services:
  server:
    build:
      context: ./server
    ports:
      - "4000:4000"
    environment:
      - USE_MOCK=false
      - MONGO_URI=${MONGO_URI}
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"

  mongo:
    image: mongo:5.0
    container_name: shoppinglist-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: